/* Fundo geral */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   
}

body {
    background: #e3e5f3;
    font-family: 'Segoe UI', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    border-radius: 14px;    
    box-shadow: 0 5px 10px rgba(1,0,0,0.8);
}


/* Card principal */
.card {
    background: #fff;
    border-radius: 14px 14px 0 0;
    overflow: hidden;
    
    width: 100%;
    padding: 10px;
    
}

/* Imagem de café no topo */
.card-image {
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxQTEhUTExMWFhUXGBcaFxgYGBobIBgYGhgXGBofFx8aHSggHxslHRoYITEhJSkrLi4uFx82ODMtNygtLisBCgoKDg0OGxAQGi0lICYvLS8zLTU1LS0tMS0yLy0vNS8tLS8tLS0rMi0tLS81Ny0tLS0tLS0vLSsrLS8tLS0tLf/AABEIALEBHAMBIgACEQEDEQH/xAAcAAAABwEBAAAAAAAAAAAAAAAAAQIDBAUGBwj/xABCEAACAQIEAwUGAwgABQMFAAABAhEAAwQSITEFQVEGImFxgRMykaGx8AfB0RQjM0JScuHxFWKCssIkg7M0NUNTc//EABkBAAMBAQEAAAAAAAAAAAAAAAACAwEEBf/EADIRAAIBAwMBBwIGAQUAAAAAAAECAAMREiExQfAEEyJRYXGhgbEyM0KRwdHhFCM0Q/H/2gAMAwEAAhEDEQA/AOi0FpVFXDOyHl5UkpSyfv1omHKttMiE6/4oFaUN96XNEI0BS8vP5UZMUR60QhRRA/GjFCKIQ4o6Q90KpZiAqglidgBqT5CsFxj8RxbbLaw7MDsXuBCwmBChWOpPPWsJAjqjNsJvGasD2/407scNb0QQbrDmdCF8hoT4+VQ7n4hOkG7hHVDpIaSP+llXSsrj+04e9dKd5bklDBBBaJBG+kfSke7L4ZakoR/HKLjV9TAAj7/3Wl7A4+3hv3t5ysiAArNp45Qaj8A7G3sU4NxCtsGdRBP6Cr/ivCFti+kfwzoPDQg/CsqOKSAW5lUQVqpudLTX4HthhbuiX1noZU/Boqn4r+I+GUlDauXEmGOVCp8gzajfcDauT+z/APUqoOhcA+U1adqAqHKBHdGvWetN+pR5xO7UZX4l1xrG4bEWw2CtsGmXDRlUeAIJLzrvEDntWNtXmsXA7awZM89avOE8Lv28P7VSAH1giY00+NUXEcUzk5lAPMidfj8dOtNSxLELa0yord0C97/vNTx3iF139pcIZAMuWB+7AmCOcGZJ+u1Z7HMQggQrd6Nx4wRzB3Hj5E23Z93u2SMpcp3TzJSNPUbeUdNa3EWGzMlsF1K7QTkM6QfiPSPEIujkNuJQkFAV2PHlJ/ZLDZpyND6ljtCiIynkTO/h40fFLYUkec+e8nzq67JcHQqVuXDauR4BgOejaEf42q6t/h2lxsz4pmXoFAnwmT8qV1L1Mr6RqFVKVPEjWc9HB7zKl0LCH3X3iJ1IHeip3FsfcZltYq6xKqMn9BEaEdZ6kTV72hwgtPbsCDat4gKAQT3YYLm67/KqHtNZzWzpBtX2tgEzCnvBQegBHltyoV8mAMKgxBdd+v4lLjmBAiOmg310866X2a4NdfCC4zhHtyVLmBkiSrNrAmTPLWqD8POBpcfNcXNER4Vve21iMIqqCLYce0C/0wYnTbNE+QqlS2NtxIK5aoG2M4/xYM95pKnvTIMhtd1gCR41e2u2V23hzZZLTW2UrlUMrAERMyQTz9Kr+K2rSN3CCfDeagjhF+8e5ZuR1KkD0mKKZyA4EpWCrcj8Uv8AjmKW5hkZTOnqPuBWb4T3G9q9tblsT3X90kzHI9Ks7fB8YtvILRy66sy8/DNTlnsniXVVbIgE7kn5DT50UhgCL6X+Itd1exI1A+ZSYvFi9dLFfZqTIRdY02BjrVkXsrbAQsP6hMg+h5xNX/D/AMPU0Ny8x8FAUfOTWjwvYrCrr7IN/fLfJiR8K2oykixNpOi5QHIa+c5AboLbjwO1IuXZOprvFjg9pdAijyUChc4PaJkop8wP0pxXA4kWUkbza5v9frRMf80KMClmQCio6GWiEQRRE6Us+VIU+FE2JCHnShQmj+/KiEMUcUW/39aXRCMYzDi4jIwBDqykHmCCPpXGMdwg2SBdtZLoac4RtxtkOYBv7mzV20mksvI7ffWkdMuZSnUw3F5wa5xS5atvbOW6pdWDPqRoZCggwTJkgzv5092a7NM8XHTICZCnkOX612j/AIVZmfY256hVBn0FP28BbGuQUIgQG0arVzMi8Js5UAnasp+ImHe2HxKgFWUK4kaH3R5yOn9JrcECNtqzPba0HWyjTBLyOsKBr03I9aSsAV1jdmYioLTiOCss95HlVXN7zkAaaa9Kse2NlwVzKO8JDK6sG6kRsPMA0nieHC2Q49/NdVukB2AB0123M78qseHcOR8AjjVtQR4hoPrTGqAA9tjaW7rJypO+smf8VU4ZEL22OUDuMJU+KnX8vGsvjAmuukkDy6/M0zjsNlYg8qXwnEXLS3WSMgUZgQNZIGh3B5SIOtYlJR4lMs9V1GJF/WFwH/6hSGKhTJYcgNSY51rLvFGuBip9oGf37jDXVYO4JiTpoBCgHlWQ4nYClhGoAiRGn3FI4VxAp3C0ISZJBIUHfQeQ1qjoaq5LOTMUahVub6zRdo3U21UCX0OYk6sSsZREbZgdZiOlRHx2JsKMmIurHIMY+G3xFaFcBZCWLlu8l45ozEgxCmBpqCf/ABrN9qcdNw7dNNj0jw2+FRQFWCCWLIVLmTcFxc4q2wvXALqsHzGBIWDPT3RHwpd+02JARIg3HuO+kZZhJPUjUA6x6VH7B4yzYc3bp1GiqBmJPgAPrXe8NZtWLau9se0IBgqJWdY00nqetUNIByZz9+3dAETn/ZnD+yQi2JbkSCFnkZI1E9JqwsdnDcOa/euXSw7wzuEOkGEBjKemorUXO1OsNYzL5j6EU9hHw+Ik2GyuN0Oh+HMeIoIvsZPMjiVGF4HaQQltVHgAPoKdbADep5kGCIIoZaW0y5lNewS85qDfwQG36VoL1mq6/arIwMrbTZeXrU1bwqBilIqNaxGutE2XJuU3nqOtyjL0TJsyKFKA/wA0eXn9+nhVpKFloEUZom/1/miEIff+aQ4pY+z9/WgF+/vnRCM5aUidacAoyKJsLL40CKAo4omRuKVHxpRpIomw16VWXuPYcMUF62XG6h1J0358qzv4jcYKWzh0YqWUtdIn+HqMo8WIPoCOdcrdFRfZtGbKTuCIJnflGg9Kmz62EulDIXM75hcUG1Bmdqy3bbjGFNvJ+0oLiNIC96f6lOUED9QNuWG7KXMR+zXD7RxbhQdT7pYAx0038POi47wdLc5WzaSD6bH6+lTqOAcTLdnog+K8znEuJoUKLmIzMfAyxYHUA/zNI8B6aHs/g7YwxuriDaQGCDLhmPIKCDm+I0nxrJY22AJHX5QKvezvD4wj3p1k5R4iqPgtLQcxsW78C/Eqwhu3WDEou5YIXOuwgEanzqxxgtWbdtLa3glxlNxrgWSAQ2gVjoQFMeHOovGCba5RHtCczESDpH+opHaDEyirLZgQCCd4G486xGL4gDQ/xzHrIFzYm5A+/Ea7QYtbjjJrMAffTarDB8DR7Pcu/vADmBUEHpEHMAdNfHaq1MIr4cOnvLo4HI9f89aTwziZRhm3WcjaAroef66deooQcMU4nPkBUDv+oaRi0lyzdAIyMeuxB+oqUAQe/BJ8jqZnUbDw33rU37dvE4cC5BfK7groRl7ugknQwCOvzruIcEFoCWzlhvA2iRtpsN6ma4bfeVp9nYGwOkidi7YbiOHtRo9636ANmI+Veg+KDM58K89dj/3XEcHc/l/aLYJ6Zmy6/GvQXaHFCxbu3SJyCQOp2A9SRVnta4nEc88T9Jx7tZ2qv/tD27T5LavkGUAkwYYnnyJgVScG4jibmIJW+RcQEoehmJH3zo+PpmHtQIcsW8DMzHx+VUFy8Vul0OpMg7b6n5/Sp0v9xDadFYCk408uv3noDsl2pGNHsMSot4tZgj3bsRJX/m6r8KumBUlW3FcsYrbCugV7oIIA7zr4ypJVtzoI0rpHZ7jS4+yQe7iLYGYEQWH9QHnp6eVQpVhU94do7Oaeo2+0kmomJt08jcjuKNxVpzShxVuqTFCDWjxqVQY6ljiIw+Kp/wDaKoHvwakLiq202dbUT5a+v6Uc0kPQJ++lVkYbcqPSiBoKf91sIoiioiaE1kIAPv8ATwoAURbqaDNRCKAoomm3blNEpnWiEdFIdqru0HF0w1k3GEnZF2zt08B1PT0rj/Ge3mOFwt7RQs+4EWB4ajN8TyrL3OIlAhxy4m27f9nbt90v2AHKwHQ7wJ1XUTEzHVR6Y7hvYLFXbmbEIbazsYk+Gh0X9Nq2vYDtM2LQhx3liSNiOvhUb8R+NuGXCWyQGANwjTNmnKgPSAS3h4TSXC6yqZP4IdjtBg8IhsBWuLBDlEDLGx3ILCOgNZXjC4O6v/pWvEkkZZOVI1iGTNJOm+51OwLGOttYtlmchSBqDBbbujXYkbazzjYZHh/EGVmbvCSW7hIgmflBIpEyqKTbaWbGk4AJ161tLa5wQmZQBSNGdgoHMauRvB03pnBcSupnQgMuk6QFbbSNDIE6eJ5UMHfF64LS5Ud2BzvC68td5J5Vf9puBHCJbe6DdVmlgjFFzjRc0Tpv55jrypgr2s4v17zXdMgVOvW8p+NXgxNwxrtMTlgROs5hrqR/NtpVJYti5cRYhSeXPXXf70rV3OKZ7BuizZQLKAxuG1y6QSd9Z6dNcouOIuK/dAU6BVAAB0MR4dabs4bEgDURe0uNMtidZqb2FZAbqMrOCQR3RmQJJRgo33jTr1rLYu0HcG3s+oH9PUGOmtX17iFtUY+0BmGULBOaIIOmg28dT0qj4dc9hdV3WQIleqsP0NbQDAE8/eJXINk459PX7yQnEL1kAK0pqAREE85310HiQB4VbcG42rWwlzddj9PSqVgbebmDoejL189vKj4ngRh3SRIPe1O4nUflOlDIj+HkxlapROX6eR/UPEYhluE2xrIIgaBgQw+BArc9ou0OIxpN05lsZgBbXZVEavHvNz5+FZj9ot3FLKpGoAAGg8DH18utSeDcZNgm1eAKc4Oqz/UNx69amxJXEDaWAXPvL3vtEccxORSnduWy0aEaGJ0OpEj6VUcG4f8AtV1bYXKNddYA5yeZ1GnjS+Noudjb1B2A+9t9fKpPDcclt0dG9i8AMGHdIMSQR7p0506DGn4d+uJKoM6niOg63mkPZmzLd+5mTQkMJnKW008qNcRewLLi8PiGuLbILI5BDpMEBgOh/wB03dvWyUe4A0yXFxUYFp3VVbKJB5ydNNZoYziqgM123ZCTKEIgb+0GJExOh0k7VxJUbIczrqJdTfQTrt3E279m3i7Jm3dUMPXcHxB0psPWM/BviRNlsFc91gz2j/zSSyj019DWpkqSp5GuwkX0nlFSuhjeNFZzHrAmtHiW0rNcSrJomdxIk0tLZipWGwhd4H+vOru3w1AI38dq2E3qgzT0UiI2oIwI+/v0qklFRSZ1/wAUc03NE2KZzMUiaDCPvyovP1+zSzYeb5/fwow3WKGUb6f49KaIB1+VbMjt0xqTA1+VKROZMCmljQnp8Ypv9qBnvDykfr51t4TC/iJejEIbki2LcW94LZjmA8YAPoK5p+y3MZeCW1Jj3jyHma73icNavrkuIl1TuGAIkdPnqKcwHB7NkRasog/5QPv86VRZspU1PBjKnsX2dXC2gAO9zrN9uO0+DNyB7UuoKm5bQMsAzBl0LQeamN963fHrrW8NedfeFtyPA5Tr6flXEOPWltIqjpB+/valcgmxF49Fb3a8mYg4XFQ/tnu5CMyuhTKkGSoGkTEnU9TFQ+J2rSBgkECI9eX0qr7KYB7rubdwoVGhDFSZ00IpPEeFvafvTvOuuxn1odVzxvtK0Cxp5WuTLC9wLLZN6NZ5g/KqEs168qs7NLKoLMWIExALVseJY9GwoVXkzP12005c+ulYSSGkbgyPMU/ZizA3Mn22y2sOZq2wi2k9k9pSpkq2ubX75R9azyIi3CDOWDlJ+U/StVbxqYqyGLAXkIJBgQR0nSImD8tKpMfh/bX4T3QNecSSY08In1pKTEEhvrKVVyClBrpb+pV45Vzd3apOPYMqsOdtJ8GVQjTH9s+oqNi7IXarLs5w/wBsLgnQAHLO86TXQzBUDeU51Vu+ZCN5ExkgsVnKT7skzyrVcU4YbiWVdQbuWYLFQobfYSzSp5gCq4YtVFu1ctjOrJlcGQVzKRPI6aeoq6vYhrkSPcxIHdgQiRMkkGIk8vfMTXFUqNdTba+s7xTXUDY8TMcSS5hStuQVjNbdZG51I8QevSlOwuKSsgsskCIJXcEdQDp5GrHt5aPdYL3VbLnkQScxgfDWouDUWFtXCMwMFhvKsIDKJ94D8waoGDUw9tZFVZapQaqB8Sw7L8JUqpP81N9reFi2CRERMeoH5/KqvA4tkfItximpB8J0Phz+VP44suKFu85e20FCYghhKk+uh6a1gRu8LH3jtUQIANtvSR+y3D3xDm2rsNFAAJ0LMBI15CfjU/ieCto5YKAACoLHoTBM8ztO+lPWHFrHWyhFtbykGQIVoKnQkDeNZHvmi4osORBORdRsJzHfTUgyQPAeIOVHJqA8ERKSY0yDqQeviXfZbFNbVXGl22waPEd6PgYPqK6XxtwxS8nuXVVh6ia4hwy1ilJui22WIg6EgdFJkxXVeyuOOJ4Xr71i4y+hh19IaPSgLYkRK3iUN9JKvXdKp8TZLHeB1/SpqvI66U3fwdwqWynKKaQka26rCqP8+dZbjnbL2d0oneCgAkdedDtPxg2EZR/EaVUdBzP31rnZPXer0qWWpkalTHQT1Y8/4oddSdPX72pQpDc4pI0E6/QHz5CjA+NJUxHP6dKSgI5z1H3p/qiEXHWjiZ6U2ra/fypxEjbXzohCikkU658aQzQKIRpjOm9MhIjT4/TyqQD/AJ896Sw0+x+dEISWwKkI1R1P3/v60q2vSP1nrRNkooGBBEiIadiNiDXC+3S4V2K4S1cVQZNw3CVbWO4rScs7GR5V2y8U9mbbGAwKmBHvCDEbVxXtQFtZbTd26khhpBE6FTzU6H9DSOxBFhL0FU3vMvY4ndsLkTLEzJXWfA7welWnFuNm7ZRmUZiD8tOfr8aZscFuXv3ptMLFvvOxESByA312nao1my98lsvdXeNBHSeQA0pnCmxYa8ytO63wOnA9Y52W4UMQbmZsuUAxrBB60fEcAlqRppNV7PcRjcU5DtC6COgHw0qXwDDtir2VyTzO0eM0OpJL30hSqhLUyNYZ4I6KjAnM4zCDBA0mp/B8fbt22FxgLknfSdfLzHnV1c4naXEZD3RkyzA19eutY/tDZC3WAMiTBnlrFTQmqcXlKlqSlkG3X7xjiVoli8QpOnj5eFOYDF3MOfaoYkQQeYPWk8Pw7OvJhnVSDJKggtI5AGI+FXPF+GwbVvL3m105gAt84irM+JCHoSNNA6mpsTt7/wBSvOPW4ykrlJZZPmYnyq8wXF1tNct3gEY3GYEqGhTBidyJAYbAxrpocxKycwMAA+BM7GORE1JTiTOg9sguKNFbZhJ1ykEGPlSPRBG2nW0YViDYn6/3LfjXElxXs8Oh7qZ3zf1sFMAGPP5Vm2xLqPZBu5JgGDE7xO3WncGge+qqWQE6SZIP3pQwdrPfCOQBJzHlA39KoiimLcAXkWfM3vYk2uPtG0ttaUPJDMDH9p0MgjY6j0PSnraviIk6qIBg8qe4pgn99gQD7oPIDYecfnUbhmOFomUz6GNYg+fTr9RTZF1yXeYyCm4U6Kfn3j/ElJe2hliNDEbTygedafB4JLqS964JO4YzI90yZnc+POr/ALBdnrbAY27eRxBYmdFjeZ2ygRrtFVnGyuKv3DhVe3ZY7DQuf5mjTKrb5Z894HLV0AubWnTQOTNYRP7BiACbTocjkd6VLbe/HdJmQO6K2P4dYa4tjFW7sbIw72bQFhzArn121i7Ti3auOWJAVSA+siBrOsxFda4Lgf2bDXnuOWuZFV2MQW1JAA0AE0qLc3FpnaHsuJ5tC4dhZIERrWo4jgR7LKo2Fco4r2r/AGZc1sy4ggb6kwJnlJrpPYrtImOwyXRAeIup/Q43HlzHUGuhBcazhqAjWcD7V2wcU5ugiBlHjlJn6/SstfIzGNq9D9vewX7SDdsQX3a2TCuRsdtD41x/H9nbyOVbB3VPT2Rb5oCvwNMHKHUGUCiouhE79df08dKb9p5xyGu9GwP1j/HpNEdI10G55aH6UsSKkn7+MRRFfT9R+W3OiUcon6etO7a6Dx/SiEC+Hrz+zS5gT9Py/Wm2I+W+lNo2nIeP6eNEyKYSJOg5fn5mgx+ew/LxNHb66+vUdfnRMAdZ39aJsbBABJ5n1knl9/SjC6wdfPXaOVEV5kg+WkQdAPn97GJ5jlr9+VZCKGp0+/lVF2242+GsxZANxgxn+hVGpGhltdJ00ProANJ8NPv72rMdscJmtrcEyk5gOh1k8xqPgddqVyQNJSmAWAM53xPtPjbSBxdNxWJKsygnKQCCGA6Rof8AFV3EOCi5aW8hLBwDJ1MmZzHrPWncfbVDcGgVkkAaAkSHyeJkGAOROutPcGwWJtYQs6/uhJgsAVkHcEjnyGuu1Jdit13Hz/5OoYh7HY/cf3KrhvaLE4RsocvaOhRyWUg7jXbTp1rWLgrP7J+04d8guLka1cuIuUKIHsiQsxBmSSZGvXDex9tdVYKqTGumpkwPOrziXCjZjugabb6edPVdbAMNTMpUTmSp0lA7HNlHenQAdfD7itr2I7BXy3tbjtaBEDLGaD1kEdNKw2OtZmBQegrednPxA/ZrK2r6XWZeYCnTlOZhVR+Gw5kauWftsZluPcMZsRct229sEJXOFKyQddyecj0pjhCrcc2HQZyDkbcyBtqd/wBKt7XHLIu3GSSrMSMwjutr3gek+O1ULWpvlrTezg5lJMHqMs70qkkFWFrR6gsQ6m9/mC3h7lq45SYTVtNwDzHTn6UrF8WuX71t5yEFQsctQKdwXFrlrFZ2YEto/QjyFK4xw9A+a33ZkwD3TP8ASdwPDyrbjLxjjQzCjEEU+DqPnSN8QKsse4QSX0Jhzq2wmNYjX3eW1NXMP+4Rl3Eq3g051+Kn5GrDCYW7fVmcCJALjdokT/SZkiedV+MQ2ZCE66MDqGG+o20PwpUbXC+sdlsC9tLWPB/aXnZnBpe9sw7pbK87EHvSqn+4EeII60w+CCvauuVys6yZ2IBDT072kflVbwLF3EYMs5fdgaSSQx9RAPwFTeKY9L75ELBCzNmfTVspfedSZ5wSRSOjCobHT+IUmXuwSP8AMe7X4pc2VCDG5HOmuBcH9pYNwCTr5yDH3/mqbH3BAGsgAe9OnQA8htzreYZ7eECBRFu4NJ5tG+vM+FD/AO3TCjmMpL1b+Q+8x+HxJtuFzlbbxmA21HMedbXh3GLWZLKXLVtm/muOEXl7zHc+FYPi4GYxtyqsiqigKoDGRrdoNAlAN9Z6U4N2fw2GHt7mItM8a3SyhVHPJJgDxmax/wCIPbD2to2MBLWl1uX47pJMAIT72vPauOCI90T1q5s8curZ9iFTIQQdDJ59d6fuQo0nMtQu121lfezEZ8xOvenk3j1mtV2c7Rtg7q4myZkAXLZMZxzHmNweXqZpbxBV3QD2dwAOv9LLrPUGZPTUip3YayjXH9pbVwEY94SAQpI38qwnJb+Ucr3bW3B6+Z6I7Ndp7GNtC7ZedO8p0ZD0YcvPY8qsbjidq8y4B3GIBtu1tlL6qxUgKGgAr1bKPXatCva7iajTEllOqlrdsnLy1jpUzVGxjf6Vr+GdjK+VJCmI38edOUa+OgrZKIX5fZ0orl3TaAPn8aVcO3xplW01HPpr9xFE2IcAid/vYfrtTikenl/ilydJHl4UrJ8fP60QiG6eX2ZNFMHQTzkjb9KVkg0AJ5aff1ohFW3n8vHypUc+Xl/n7n4koiI0oswO/wCtEyVnGOMWsMoa8+UEgKACWY9FVRJOo0HUdazbdvcMSf3mUSR3lYT1O0Go/wCKGDZyCJJ9l+7E/wA6Nm/Na5zj2F3DvciCCoUH+qAWgjlGmvjSBrtb1nQKYwv6XkvtZcGIc3rahEEhAkgRPveZ6cgRp1XwJnvYe2HeUS68A7DLbLCY1Pey6nl6zX4XEzg1XoWHwJP0irj8PcBeZbzopZAQygblhIOXrpHw01obLBl8jKDHJG8xIXHsOjWw6EEEZrRHIjUj02g+BpGExV7HsttF70CRy5CSTVtYwVxlNpbTswJ7oQgKCeZOimAm/j4ga7sZ2NOGhm1eBJA0nnFJTAIsR7RqtQowKnjWUWH7NLgzlvQxdM5PIalYBO5kE+tYnjlxS3dEAfSIr0JxPhNnEJkvJmA21IIPgRB9PAVkuO9muH4Ky144f2hkBVZ2hnY6T4bnQEwppgmL5RVrhlxI1nG+E2s1+2uTPrqsTp19N6tu0HCFK+1sA/8AMo1HiVPzIO2vkLC5xe/aYtaSwg6JZQCeW4zba6kmoOI7ROW7yIpYyxRSJ73NSYmmZmZg6H6RVRVDLU2PPlGezTo/7t1VpmZAkjkJOs76+A25sXeEFf2m2SSbQBX+3Qgnxymli1bt3/aC5byMW7qlu7pMMGA7pP05aVb4y8q4hCAzJctFbgGsLqBty1oZir6c6xqaAoMtxce4Oka4Jx5Vw/so1gAzA58qznEbhZjGo60m/g8rhCQQSIII1BOh8NK0nHOHLatIABJEz4cvWmstNww1vFGboUOlpScOvo1trLEIS4ZXPKFIIPnpTFrDN7UJGu0dQek7zypfDOHm+zBWCsACs7E+PSpL4u/Yb2d1dV/kuKGH/TmkeoqjaEhd/KSQ+Fc9hsfbzlrjezilA1syMoOg0+O1Jw2LW7hzh7n8S2IHVrekZZ2YCAfAT5V9jjZE5LYWd1B7unhyPiKRhbUvbuM+QOYz/wD6yGiQeUaE+B8a5wjgWf6e863qIfEmvxpH8aQbYV1HtREMP55MdNGiARsckjUmqNlljG0mKucUbguZL3dCMQWRYOsiRy1mYqE65DAIbTQgb9P9R4VakcRp/ic9dMyPL5kEKQR+dWNzh1yNCpHgd/LTWnP+EXHHtHBRIkkiJA00GlMWCc/s3BzbAjxjpv8AWnZ76rxJ06eBKtex2MZW2UJViVJ5RuPPpSrN57RLW2IMEHxBEHfwqdxO6Xtw6w4YwwUAN/bAHw+xFucMuKgdgcpnQb6b/ChXuLtNZcfCBew08x7yWuM9niDeX3dXWRAYFgwHxj1FaPhxNyxZIWYtqszzEg1m8dhwLdtxrmUQT8xvsIIpzhvGGsJ7MoTqSNtjr9Zrmq0818O86qZKtdjoZ6OA67fe1EX8PSjZppr5kfKarOCKL8zS0YHYzTYYesUTWwdZ5j0jpHjFZCO5aNRzpIeN+tOoJ6eX6mN62EA8vSlFYnXWk3TlBjUxrFNZyNfl/uiEUw67cqbfU7aRoeQ+POlrdDffKk3LXj9/nWQlZx/hvt7ULoymUnrEQT0I+grkPaPg2Isi6htFUukeyUlTqDmuHQkxJgT/AFeFdwRInrWf7W8LuXVR7YzOmYFZ95WiYnmCB6E+FIwt4hvLUn2U7Thr8KKrqxnmNR1/StX+HnaO6LqWCFKHTuqFIj+2Aak4nspjr7/wPZjqzAc995+Va/sn2JXCDMxzXDu23oOgrVZmHij1hTW2E19vUfrSMXjEtLmuOttRGrMFA8ySB6U6hrjna7EYi5eYl2chmyWpIGXRWACkHSJ+EzIoZrSVOmXnTLnGkkQQQdiCNR4RvUTtBw4Y3D5A0MpzIToM2UrBjwNcOxF027gEEAgEGTuQJ5DnI2G2wrp34ccWa4DbcyRsT41pFxrNIxOnEzfFuyt2ype5aNpVP8RCImAAZQkwTNZvh+Hz3tWBhSyA/wA8CdI668j5aVvPxA4z7ZzZtmSIt2xr3mJ77CBy28l0mawXGrYXEJasn3MiqRPvmMxG/wDMZ08aRDckD1669Z0OpChj6SVxDCW5bJKsDDK52OkgEmGkxBDajkKXwtmwl8F1OVoUjWQT7um8QeXJgRNPYuy63II7xQSGfutyle6ImNjm3qs4fma+tozbObuqeRI3Hpty+FKviUi9xaO+SEaa30l1xvgtu6xuW/3VyZIggE76g7HxFUHEeK3CPZ3BqNJ5dNKvOI8Au2mOVyNdWzTPOTMj1086icc4Olu2HzZritlcEnVuciBHkOoPOikwuAxuOPMTaymx7sWPweujK/hOBP8AEBOaNI5bb1I4jx4unsrgJAmOevrVlwgD9lkxmUsCOYjr5jWs1csNcuHKPM9KdfHUJfiK/gpAUhqZZ4TgbLb9vIIkAAePXw/zVdw8O1z2Qghz3lOo05+BHUEGrS3xZ7GHfDsuYMNDPu69KR2Xup+0G43dgGB4mnVmszNrJ1FW6ouhve0hY93tyknSR3jMDw5bVe9lMQLVjMIzsTA8BJJboAFO/TzjP8cuFrrHfU7VP4KYsNLiGJlZgkbGTGgMRpG+9FRR3IioT/qCPSWV1pDsYeWEuwjPGrGCIyToApju1nUvIb+YkKnWNhG4A+lOcZxbudSAs6Ksj89a1PA+DWrltmICuMuwH9I+u80gtSXI63lXJqPgNMdb7ymCWHf2gJfJByKsAgEe/MACfpUbF4u4WZssA7LMwCCI1OxEzU1cCtpypbJnGjRpzBX1OUj4UMRh4YkSRGvutyy9F++tLmt9NvWb3TEa7+khdmEVsSqXZC94xtr0+tXvEuHr7Q5NvDT6Vl+JPDKQTIOkgg6eYGnKrVeII4BLxptWV0diHWU7IyjKmTt18T0LP3960UTSiKSR4VeeXEMk+X+aAHn5eNOLS1t86JsFu3t8/j9/GjZ40Hrp+fTajLbRttTftN9B9+NEIu20603cg6A602ZJ306DYen3+VAmNOuwHzohFC1zGv60M8cvvx2pVu713FKYD/AohCBonUff39xTTW9eUcvv73pSv99PvSiEVtRK0x0pW9IZfSiEUR0rnf4g8DYP7W3/ADEkf37svhm0YHqOgiuhhqK7ZV1KsuZTuDqOu1Iy3lKb4mcE7ShbwtPbQghVzCNM7SCo8cwJ15l+Qqs9vewzSrsrCJg/EV2ftPwNVsA4eyBluF2VF1aRlLQNWO3jFcnxnDrmIvC1aRmaSCIPdE/zT7vr/ihDiQvEq1nUvzJmIxEOjKVKovtEgroXlVjTYmARrzPWj4TwG5iDcxeyqTkaNyAVzDwUwfMHpXSezPZC1YsIty3buOJMuoMMd4kbb/GtOmHQKFCDLEZYERtAHIcqUU7AgeVprdoubkc3nEcfde4Aj5R7LSCdbZGwLaEqRqp5jQzAqBi7DXEW6srdQSDrMA/r9610ztF2Pkm5ZAY5YEgMyqd1IPvpGkTI89awONRsMjWjZliSFGcnJIiNQGjSYOw6xrzjJSABY/Hr10exWR111Hz/AI6tHezvaVr7i1d1eDBA3jWPkaj4rDZb9zDkHWGsQJ3YBV8QCQACDAJFVF3CGwoZXBaQ2Ycj5HxqXj+Ni/ldcqXEBksSIlSCAQDmB3jf6ixQEkoNP5kciqgOdZVY69BBBIOzxIkSd+pFbPErYs2Ue1llhMc9Rz6ms3xfDreb2iQqtBjNmg85MAb+GtVIe4SLasx5Ab+lUwFRRY2tvFLmmxZgSDa1vOPcSxAY6f6qNYOVTqAT4a+h5elaIYUFFHs4K+83ujk3e373KPA1FdQA6M6Q0EEMrCQfAztOsD6Vq1ABiBMelds79fvJfZlUKMzoGlSDPjpJ021BMHXujYmqc4ce3uhPcUzE76gAaEE6mdOlWPBcV7CzePvFmyWwNSx6gHlP1GlTuHYAWEc3WIK999D3miSpM65R3f7i29SZzTZj56Dr0lEUVQl+NT16zN4nCH22TfQHXlK5vlVhwO7f9uqI7HMIbMx0UePIch51V28W/tDdOpJJM85rQ9j8Sue4WIztpB/p3JHr9K6KuQTXXT5nLSKtUuNLm49ojimDe6XZmyhWyBSOcCPJT5neqbh9xlOUuVE5SN9uQHWTp51o8de1vEyFZ1Kk7HuqARP9pM8wwrM4oaLG++nVjI+UVOgSRidpWuoBFQXvrBjsOysQ85gSNfAxUM1NvXSZ9rnzcoj5z+VQmrsp3trODtGPE9W0RpcUFWueNEBOcH9R18poMT0jQU4aSaIRBehvvRhKAWshC1jSkGRsPP7+Pzpw8qGeibGmiDy8aCcvKNT9k08I0PXakZOfU0QhqfjTV5JOnh9/fXwpwikB/v8ASiEJZAnf5fQUvN4GiFKjpGtEIRWkx5z+un6/Kjy/Y6US7ffOshFIfs9B/n6VQ9re0P7JbBRPaXX9xTtA3ZiNdNo51eqP0+FYDt1djEGdP3QC+ub85HpSuSBpK0lDNYzPW/xJvl4u213/AJSfzrp/BccL1tXGzAGuF4HhD4nEBLYnqegnUn76V3jguAFq0qDYAD7+VNobWmOLEiT1MVy7j9pVuXxdEXGdjJ6FpUjwjnXTy0fOovEOG2bwHtbSXI2zCYnfx9KnUp5x6FXuzOBDCm7cCjS0CFLawNNBP9R2HnVxjGUKbNlAVQd5v5VnUa821mBr1kVqPxJ/cextpbC2ijwqLGZ5GgAG57unhWMxpcC3hEHeQTcgb3GguT5EgSenkKRgSQvXvOtWBGXVpTWrf7wpaZsgBJJWdtJhakXcK+EuW7zQ6k7jY9RqN41q3wvDRYzywLFrYPQAjOQNNdAR469ac7aQMNZtkEPmAAPIBTOwGm22lVFS748bGc7panccaiFxHieYG5h7ndbdG1BJGpI5HlP1rPY/FPvAWdyPWN6RxjC+yKFdMw8Z0jU6xz5VK4FewzEDFm4ROwMAjxgT861KQADDUTX7RvTa4MVwDiIto2aQc6FWC8hIOoEiJkRzHLerDjHE1xTLYtaJux170eZPPxqZZu4R7LKkZgW200nSPCKzdi97C8HiV2I8KmbO5NrMNpVBggF7ryZqsZwG2lkGdY28ANvWsVilKNIMHX4bGtDxLibOA6glP6idOmp5x0qNw7hJu3Gzf/jQswjWdcog66gT11FFElLltpvaLVFxG8icSxoKnLz2jbX9BAA5QBTuFwrM63Vtu1qB3gpgZUymTtIg/Cm8bhQxtqDlLBSegBgyfVgKuuG4+9hUyIwCifeGYT0OWCG8DtTgoEt53kyKhfTi0icewdsgNaIIIrM3Vg1cYzHd5jdtgMxkFCVX4DTblp505bw9oj+F7T/mZ2U/BTHzNMjmkNdR9P7iVUFYWG4npG3ufP8AKhb/ACoUK2ckMbffjSPv50KFbCBN/hSh+dHQrZkYxGx81pTbr98qKhSzYjn/ANP504v5fkaFCiEQ23x+lE338KFCiENdz6/UUdnb78aFCibEYv7+NJuf+S/ShQrJsdGw/tP0rCfin7ln/wB/6UKFLU/DKUPxiV34Sb3vNfzrptvYffKhQpli1PxGNP73of8AxoL7w8vzFChRFmT/ABM/+3/+9a/765/wnbFea/U0KFYPxdeksPyjHl/iXfO1/wDGaH4ge9hv7m+ooUKiPzT1xLH8ofT7zNdqfeTyb/xqv5ChQrpp/lrFX82p9PtC4f8AxBUvH0KFFT80R+zfkN7mI4b7n/Wf+0VecL99v/5/m1HQpO0bNI9l3X2/uUeK94eSfVK2XaD3rvmP+00KFc9f9HXlOin+afpMjxz3Lfr9BSsH7go6FX/6RCn/AMh/YT//2Q==);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 14px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/* Título sobre a imagem */
.card-heading {
    color: #fff;
    padding: 24px 20px 16px 20px;
    font-weight: 600;
    text-shadow: 0 2px 8px rgba(0,0,0,0.5);
    margin: 0;
    font-size: 1.5rem;
}

.card-heading small {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 35px;
}

/* Formulário */
.card-form {
    margin: 0 auto;
    background: #fff;
    padding: 24px 28px 0 28px;
    border-radius: 0 0 14px 14px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-sizing: border-box;
    
   
}

.input {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 12px 0 8px 0;
    font-size: 1rem;
    background: transparent;
    outline: none;
    color: #333;
    transition: border-color 0.2s;
}

.input-field:focus {
    border-bottom: 1.5px solid #a67c36;
}

.input-label {

    position: absolute;
    left: 0;
    top: 12px;
    font-size: 1rem;
    color: #aaa;
    pointer-events: none;
    transition: all 0.30s ease;

}

.input-field:focus + .input-label{
    top: -10px;
    font-size: 0.85rem;
    color: #a67c36;
    background: #fff;
    padding: 0 4px;
}

/* Botão */
.action-button {
    width: 100%;
    background: #a67c36;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 14px 0;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.action-button:hover {
    background: #8c672a;
}

/* Info e termos */
.card-info {
    text-align: center;
    margin-top: 28px;
    font-size: 0.95rem;
    color: #888;
    margin-bottom: 5px;
}

.card-info a {
    color: #a67c36;
    text-decoration: none;
    font-weight: 500;
}

.card-info a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .card-heading {
        font-size: 1.2rem;
    }

    .card-heading small {
        font-size: 0.9rem;
    }

    .action-button {
        font-size: 1rem;
    }
}